
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

{%extends 'base.html' %}

{%block title %}
weather
{%endblock%}


{%block body %}
   
    <!-- 
const { name } = data;
const { icon, description } =data.weather[0];
const { temp, humidity }=data.main;
const { speed }=data.wind;

 -->

            <div class="weathers-container">
                <div class="weather-card">
                    <div class="weather loading">
                        <h2 class="city1">{{weather.name}}</h2>
                        <h1 class="temprature1">{{weather.main.temp}}° C</h1>
                        <div class="icon-description1">
                            <img src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}.png " alt=""
                                class="icon1" />
                            <div class="description1">{{weather.weather[0].description}}cloudy</div>
                        </div>
                        <div class="humidity1">{{weather.main.humidity}}%</div>
                        <div class="wind1">wind speed:{{weather.wind.speed}}km/hr</div>
                    </div>
                </div>
            </div>
            <a href="/">home</a>


    <script>
        document.querySelector(".weather").classList.toggle("loading")
        function remload(){
            
            document.querySelector(".weather").classList.remove("loading")
            console.log('removed')
        }
        setTimeout(400,remload())
    </script>







{%endblock%}
